.editProfile-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 90px;
  padding: 50px 0;
}
@media (max-width: 768px) {
  .editProfile-container{
    flex-direction: column;
    padding: 40px 20px;
    gap: 30px;
  }
}
