.whatsapp-button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #25d366;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease;
    animation: jump 1.5s infinite; 
    }
  
  @keyframes jump {
    0%,
    100% {
      transform: translateY(0); 
      }
    50% {
      transform: translateY(-25px); 
      }
  }
  
  .whatsapp-button-container:hover {
    animation: none; 
    transform: scale(1.1); 
    }