.luggage-dropdown-wrapper {
  width: 192px;
  height: 47px;
  background-color: transparent;
  margin-left: 18px;
  display: flex;
  align-items: center;
  color: #ffffff;
  gap: 6px;
  border-radius: 6px;
  border: 0.7px solid #c1c1c1;
  padding: 10px;
}

.dropdown-icon {
  margin-right: 5px;
}

.dropdown-divider {
  color: #c1c1c1;
  font-weight: bold;
}
.luggage-select {
  width: 100%;
  height: 140%;
  background-color: transparent;
  color: #ffffff;
}

.luggage-select .MuiSelect-select {
  padding-left: 5px !important;
  color: #ffffff;
}

.luggage-select .MuiOutlinedInput-notchedOutline {
  border: none;
}

.luggage-select .MuiSelect-icon {
  display: none;
}

.luggage-menu-paper {
  max-height: 150px !important;
  scrollbar-width: none;
  overflow-y: auto !important;
}

.luggage-placeholder {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #ffffff;
  font-style: normal;
}

@media (max-width: 768px) {
  .luggage-dropdown-wrapper{
    width: 37.8vw;
  }
  .luggage-placeholder{
    font-size: 13px;
  }
}
@media (max-width: 360px) {
  .luggage-dropdown-wrapper{
   width: 36vw;
  } 
 }