.login-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}
.login-heading {
  font-size: 24px;
  font-weight: 400;
  line-height: 27.6px;
  text-align: left;
  color: #000000;
  margin-bottom: 5px;
}
.login-para {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #919191;
  max-width: 297px;
}