.ride-history-vehicle-details-row {
  display: flex;
  gap: 40px;
  align-items: center;
}
.ride-history-vehicle-image-wrapper {
  position: relative;
  height: 71px;
  width: 72px;
  background-color: #f5efe8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ride-history-vehicles-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ride-history-vehicleAndReview {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #ffffff;
  font-size: 21px;
  span {
    color: #bababa;
    font-weight: 900;
    margin-bottom: 10px;
  }
}
.ride-history-vehicle-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #919191;
}
.ride-history-vehicle-capacity {
  display: flex;
  border: 1px solid #c1c1c1;
  width: 195px;
  height: 40px;
  border-radius: 6px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.ride-history-capacity-detail-divider {
  font-weight: 900;
  color: #919191;
  margin-bottom: 10px;
}
.ride-history-capacity-detail {
  display: flex;
  gap: 10px;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  span{
    margin-top: -2px;
  }
}
@media (max-width: 360px) {
  .ride-history-vehicle-capacity{
    width: 148px;
  }
}