.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-input-box {
  display: flex;
  align-items: center;
  height: 47px;
  border-radius: 6px;
  border: 0.7px solid #919191;
  padding: 10px;
  gap: 5px;
  color: #919191;
}

.login-input {
  color: #919191;
  width: 100%;
  border: none;
}

.login-input:focus {
  outline: none;
}

.login-error-message {
  color: red;
  font-size: 12px;
  line-height: 20px;
}

.login-forgot-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 24px;
  }

.login-forgot {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  color: #919191;
  background-color: transparent;
  border: none;
}

.login-forgot:hover {
  cursor: pointer;
  text-decoration: underline;
}

.login-button {
  height: 47px;
  border-radius: 6px;
  border: none;
  background-color: #f9b443;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: -10px;
}

.login-button:hover {
  cursor: pointer;
  background-color: #fca61b;
}
@media (max-width: 768px) {
  .login-error-message{
    font-size: 12px;
    line-height: 15px;
  }
}
@media (max-width: 360px) {
  .login-error-message{
    font-size: 12px;
    line-height: 18px;
  }
}