.ride-history-date-row {
  display: flex;
  justify-content: space-between;
}
.ride-history-date-box {
  color: #f9b443;
  background: #f9b44333;
  border: 0.7px solid #f9b443;
  display: flex;
  border-radius: 6px;
  padding: 10px;
  width: 310px;
  height: 40px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  align-items: center;
  justify-content: space-between;
}
.ride-history-date {
  display: flex;
  gap: 5px;
}
.ride-history-time {
  display: flex;
  gap: 5px;
}
.ride-history-dot {
  font-weight: 900;
  margin-bottom: 10px;
}
