.credentials-container {
  width: 428px;
  height: fit-content;
  border-radius: 12px;
  /* border-radius:12px 6px 12px 12px; */
  background-color: #ffffff;
  box-shadow: 0px 12px 29.9px 0px #000000b0;
  padding: 20px;
  position: relative;
}
.credentials-polygon {
  position: absolute;
  top: -15px;
  left: 82%;
  transform: translateX(-50%);
}
.credentials-tabs {
  display: flex;
  justify-content: space-between;
}
.credentials-tab {
  width: 158px;
  height: 42px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.credentials-tab.active {
  background-color: #f9b443;
  color: #ffffff;
}
.credentials-tab:not(.active) {
  background-color: transparent;
  color: #000000;
}
@media (max-width: 768px) {
  .credentials-container{
    width:87vw;
    left: 6%;
  }
  .credentials-polygon{
    left: 90%;
  }
}
@media (max-width: 360px) {
  .credentials-container{
   left: 12%;
  } 
 }