.date-time-row {
  display: flex;
  margin: 20px 0;
}

.date-input-wrapper,
.time-input-wrapper {
  width: 192px;
  height: 47px;
  background-color: transparent;
  margin-left: 18px;
  display: flex;
  align-items: center;
  color: #ffffff;
  gap: 10px;
  border-radius: 6px;
  border: 0.7px solid #c1c1c1;
  padding: 10px;
  font-size: 35px;
}

.date-booking-input,
.time-booking-input {
  background-color: transparent;
  width: 100px;
  height: 40px;
  border: none;
  color: #ffffff;
}

.date-booking-input::placeholder,
.time-booking-input::placeholder {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.date-booking-input:focus,
.time-booking-input:focus {
  outline: none;
}

@media (max-width: 768px) {
  .date-input-wrapper,
  .time-input-wrapper {
    width: 37.2vw;
   }
   .date-booking-input,
   .time-booking-input {
    width: 100%;
   }
}
@media (max-width: 360px) {
 .date-input-wrapper,
 .time-input-wrapper{
  width: 36vw;
 } 
}