.signInPopup-container {
  width: 500px;
  height: 280px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.signInPopup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.signInPopup-heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #000000;
  text-align: center;
}
.signInPopup-para {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #919191;
  max-width: 320px;
  text-align: center;
}
.signInPopup-button {
  width: 224px;
  height: 47px;
  border-radius: 6px;
  background-color: #f9b443;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  border: none;
}
.signInPopup-button:hover {
  cursor: pointer;
  background-color: #fca61b;
}
@media (max-width:768px) {
  .signInPopup-container{
    width: 89vw;
    position: absolute;
  }
  .signInPopup-para{
    font-size: 14px;
  }
}
@media (max-width:360px) {
  .signInPopup-container{
    width: 87vw;
  }
  .signInPopup-heading{
font-size: 21px;
  }
  .signInPopup-para{
    max-width: 250px;
  }
}