.register-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}

.register-heading {
  font-size: 24px;
  font-weight: 400;
  line-height: 27.6px;
  text-align: left;
  color: #000000;
  margin-bottom: 5px;
}

.register-para {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #919191;
  max-width: 297px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.register-input-box {
  display: flex;
  align-items: center;
  height: 47px;
  border-radius: 6px;
  border: 0.7px solid #919191;
  padding: 10px;
  gap: 5px;
  color: #919191;
}

.register-input {
  color: #919191;
  width: 100%;
  border: none;
}

.register-input:focus {
  outline: none;
}

.error-message {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #ff0000;
}

.register-forgot-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 24px;
}

.register-button {
  height: 47px;
  border-radius: 6px;
  border: none;
  background-color: #f9b443;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: -10px;
}

.register-button:hover {
  cursor: pointer;
  background-color: #fca61b;
}

.register-rememberme-box {
  display: flex;
  gap: 5px;
}

.register-rememberme {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #919191;
  background-color: transparent;
  border: none;
}

.register-checkbox {
  cursor: pointer;
  accent-color: #000000;
}