.editProfile-imageBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f0f0f0;
  padding: 30px;
  border-radius: 12px;
  align-items: center;
  width: 65%;
}
.editProfile-image {
  object-fit: cover;
  border-radius: 50%;
}
.editor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
}
.scale-slider {
  width: 100%;
  margin-top: 10px;
}
.editProfile-uploadButton {
  width: 200px;
  height: 47px;
  border-radius: 23.5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  border: none;
}
.editProfile-uploadButton:hover {
  cursor: pointer;
  background-color: #9b9b9b;
}
@media (max-width: 768px) {
  .editProfile-imageBox{
    width: 100%;
  }
}