.home-booking-card-container {
  height: 100%;
  padding: 70px 0px;
  display: flex;
  gap: 25px;
  max-width: 1200px;
  margin: auto;
}
.home-booking-card {
  width: fit-content;
  height: 497px;
  gap: 0px;
  border: 1px solid #8b7e414d;
  backdrop-filter: blur(29.4px);
  border-radius: 12px;
  background: #38383873;
  backdrop-filter: blur(24.399999618530273px);
  box-shadow: 0px 12px 29.9px 0px #000000b0;
}
.addreturn-div {
  margin: 20px;
}
.addreturn-button {
  width: 400px;
  height: 47px;
  background-color: transparent;
  border: none;
  color: #ffffff;
  border-radius: 6px;
  border: 0.7px solid #c1c1c1;
  font-size: 18px;
}
.addreturn-button:hover {
  background-color: #f9b443;
}
.remove-return-icon {
  cursor: pointer;
  color: white;
  margin-left: -30px;
  margin-top: 15px;
}
.luggage-passenger-row {
  display: flex;
  margin: 20px 0px;
}
.getride-button {
  width: 400px;
  height: 47px;
  background-color: transparent;
  border: none;
  color: #ffffff;
  background-color: #f9b443;
  border-radius: 6px;
  border: 0.7px solid #c1c1c1;
  margin: 0px 20px;
  font-size: 18px;
}
.getride-button:hover {
  background-color: transparent;
}
.getride-button.disabled {
  cursor: not-allowed; 
  position: relative;
}

.getride-button.disabled:hover::after {
  content: "Please select both 'From' and 'To' locations🚫";
  position: absolute;
  right: -200px; 
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .home-booking-card-container {
    padding: 40px 20px;
    flex-direction: column;
  }
  .addreturn-button {
    width: 79vw;
  }
  .getride-button {
    width: 79vw;
  }
  .remove-return-icon {
    font-size: 13px;
    margin-top: 20px;
    margin-left: -19px;
  }
  .react-datepicker__input-container {
    width: 92%;
  }
  .getride-button.disabled:hover::after {
    right: 10px; 
    top: 50%;
    font-size: 14px;
   }
}
@media (max-width: 360px) {
  .addreturn-button {
    width: 77vw;
  }
  .getride-button {
    width: 77vw;
  }
  .remove-return-icon {
    font-size: 12px;
    margin-top: 20px;
    margin-left: -15px;
  }
  .react-datepicker__input-container {
    width: 85%;
  }
  
  .getride-button.disabled:hover::after {
    right: 4px; 
    top: 50%;
    font-size: 12px;
   }
}
