.ride-history-location-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.ride-history-location-heading-row {
  display: flex;
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #919191;
  gap: 7px;
}
.ride-history-location-para {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  /* max-width: 400px; */
}
@media (max-width:360px) {
  .ride-history-location-para{
    font-size: 15px;
  }
}
